﻿@{
    var user = SSAMS.Bussiness._Common.Utility.Authorization.CustomAuthenticationService.GetAuthenticationCookieObject();
}
<div class="page-sidebar navbar-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
    <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
    <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
    <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
    <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" ng-class="{'page-sidebar-menu-closed': settings.layout.pageSidebarClosed}">
        <li class="nav-item start active open">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-home"></i>
                <span class="title">Home</span>
                <span class="selected"></span>
                <span class="arrow open"></span>
            </a>
            <ul class="sub-menu">
                @if (user.Role == SSAMS.DAL.RoleEnum.Teacher || user.Role == SSAMS.DAL.RoleEnum.Admin)
                {
                <li class="nav-item start active open">
                    <a href="#/Home/Dashboard" class="nav-link ">
                        <i class="fa fa-users"></i>
                        <span class="title">Teacher Groups</span>
                        <span class="selected"></span>
                    </a>
                </li>
                }
                @if (user.Role == SSAMS.DAL.RoleEnum.Manager || user.Role == SSAMS.DAL.RoleEnum.Admin)
                {
                <li class="nav-item start ">
                    <a href="#/Home/ManagerHome" class="nav-link ">
                        <i class="fa fa-tv"></i>
                        <span class="title">Manager Monitoring</span>
                    </a>
                </li>
                }
            </ul>
        </li>
        @if ( user.Role == SSAMS.DAL.RoleEnum.Admin)
        {
        <li class="nav-item">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="fa fa-gears"></i>
                <span class="title">Class</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li>
                    <a href="#/Class/Class">
                        <i class="fa fa-plus"></i>
                        <span class="title"> ADD / EDIT / LIST</span>
                    </a>
                </li>

            </ul>
        </li>
        }
        @if (user.Role == SSAMS.DAL.RoleEnum.Admin)
        {
        <li class="nav-item">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="fa fa-gears"></i>
                <span class="title">Lecture</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li>
                    <a href="#/Lecture/Lecture">
                        <i class="fa fa-plus"></i>
                        <span class="title"> ADD / EDIT / LIST</span>
                    </a>
                </li>

            </ul>
        </li>
        }
        @if (user.Role == SSAMS.DAL.RoleEnum.Admin)
        {
        <li class="nav-item">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="fa fa-user"></i>
                <span class="title">Student</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li>
                    <a href="#/Student/Student">
                        <i class="fa fa-plus"></i>
                        <span class="title"> ADD / EDIT / LIST</span>
                    </a>
                </li>
            </ul>
        </li>
        }
        @if (user.Role == SSAMS.DAL.RoleEnum.Admin)
        {
        <li class="nav-item">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="fa fa-users"></i>
                <span class="title">Group</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li>
                    <a href="#/Group/Group">
                        <i class="fa fa-plus"></i>
                        <span class="title"> ADD / EDIT / LIST</span>
                    </a>
                </li>

            </ul>
        </li>

        }

        @if (user.Role == SSAMS.DAL.RoleEnum.Teacher || user.Role == SSAMS.DAL.RoleEnum.Manager || user.Role == SSAMS.DAL.RoleEnum.Admin)
        {

        <li class="nav-item">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="fa fa-bar-chart"></i>
                <span class="title">Report</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li>
                    <a href="#/Report/Report">
                        <i class="fa fa-history"></i>
                        <span class="title">Group History</span>
                    </a>
                </li>
            </ul>
        </li>
        }
        @if (user.Role == SSAMS.DAL.RoleEnum.Admin)
        {
        <li class="nav-item">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="fa fa-user"></i>
                <span class="title">User</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li>
                    <a href="#/User/UserListPage">
                        <i class="fa fa-plus"></i>
                        <span class="title"> ADD / EDIT / LIST</span>
                    </a>
                </li>
            </ul>
        </li>
        }
    </ul>
    <!-- END SIDEBAR MENU -->
</div>