﻿@section Scripts{
    <script src="~/Views/Home/Dashboard.js"></script>
}

<div class="row">
    <div class="col-md-12">
        <div class="col-md-3" ng-repeat="Group in model.ItemList">
            <div class="mt-widget-3">
                <div class="mt-head bg-blue-hoki">
                    <div class="mt-head-icon">
                        <i class=" icon-users"></i>
                    </div>
                    <div class="mt-head-desc"> {{Group.GroupName}} </div>
                    <span class="mt-head-date"><i class="fa fa-book"></i> {{Group.LectureName}} </span>
                    <span class="mt-head-date">Start: {{Group.StartDateTime | date:'dd.MM.yyyy'}} {{' ' + Group.StartHour + ' : '+Group.StartMinute }}</span>
                    <span class="mt-head-date">End:  {{Group.EndDateTime | date:'dd.MM.yyyy'}}{{' ' + Group.EndHour + ' : '+Group.EndMinute }} </span>
                    <br />
                    <div>
                        <center>
                            <button type="button" class="btn btn-circle btn-outline white btn-sm" ng-click="OpenStudentListPopUp(Group)">Take Attendance</button>
                        </center>
                    </div>
                </div>
                <div class="mt-body-actions-icons">
                    <div class="btn-group btn-group btn-group-justified">
                        <center>
                            Description<br />{{Group.Description}}
                        </center>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
