﻿@{
    ViewBag.Title = "ManagerHome";
}
<script src="~/Views/Home/ManagerHome.js"></script>
<div ng-controller="ManagerHomeCtrl">

    <div class="row">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-picture"></i> Group List
                </div>

            </div>
            <div class="portlet-body">
                <div class="row ">
                    <div class="col-md-12">

                        <div class="col-md-4">
                            <div class="form-group">
                                <input class="form-control " type="text" placeholder="Search by Group Name..." ng-change="GetList()" ng-model="filter.SearchText" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input class="form-control " type="text" placeholder="Search by Class..." ng-change="GetList()" ng-model="filter.SearchText1" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input class="form-control " type="text" placeholder="Search by Teacher..." ng-change="GetList()" ng-model="filter.SearchText2" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-scrollable">
                    <table class="table table-striped table-bordered table-hover">
                        <thead style="background-color: #c5c5c5;">
                            <tr>
                                <th></th>
                                <th>Series</th>
                                <th>Group Name</th>
                                <th>Teacher Name</th>
                                <th>Lecture</th>
                                <th>Start Date Time</th>
                                <th>End Date Time</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="Group in model.ItemList">
                            <tr>
                                <td><a class="btn btn-xs btn-icon btn-circle" ng-class="{'btn-danger':Group.isOpen,'btn-success':!Group.isOpen ,'disabled': Group.IsGroup == false}" ng-click="MoreDetail(Group.Id);Group.isOpen=!Group.isOpen;"> <i class="fa " ng-class="{'fa-minus':Group.isOpen,'fa-plus':!Group.isOpen}"></i></a></td>
                                <td>{{$index+1}}</td>
                                <td>{{Group.GroupName}}</td>
                                <td>{{Group.Name}}</td>
                                <td>{{Group.LectureName}}</td>
                                <td>{{Group.StartDateTime | date:'dd.MM.yyyy'}}{{' ' + Group.StartHour + ' : '+Group.StartMinute }}</td>
                                <td>{{Group.EndDateTime| date:'dd.MM.yyyy'}}{{' ' + Group.EndHour + ' : '+Group.EndMinute }}</td>
                                <td ng-class="">
                                    <span class="badge badge-success">  {{Group.Attend}}    <i class="fa fa-check"></i>     </span>
                                    <span class="badge badge-danger">   {{Group.Absence}}   <i class="fa fa-user-times"></i></span>
                                    <span class="badge badge-info">     {{Group.Permission}}<i class="fa fa-user"></i>      </span>

                                </td>
                            </tr>
                            <tr ng-if="Group.isOpen">
                                <td colspan="10">
                                    <table class="table table-striped table-bordered table-hover dt-responsive">
                                        <thead style="background-color: #c5c5c5;">
                                            <tr>
                                                <th>Student Name</th>
                                                <th>Class Name</th>
                                                <th>Room Name</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr ng-repeat="GroupDetail in Group.GroupDetail">
                                                <td>{{GroupDetail.StudentName+' ' + GroupDetail.Surname}}</td>
                                                <td>{{GroupDetail.ClassName}}</td>
                                                <td>{{GroupDetail.RoomName}}</td>

                                                <td>
                                                    <a class="btn default" ng-class=" {'green': GroupDetail.Status == 1}" ng-click="Edit(GroupDetail,1,Group)">  <i class="fa fa-check"></i>     Attend</a>
                                                    <a class="btn default" ng-class=" {'red': GroupDetail.Status == 2}" ng-click="Edit(GroupDetail,2,Group)">    <i class="fa fa-user-times"></i>Absence</a>
                                                    <a class="btn default" ng-class=" {'blue': GroupDetail.Status == 4}" ng-click="Edit(GroupDetail,4,Group)"> <i class="fa fa-user"></i>      permission</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <nav class="pull-right">
                            <ul uib-pagination total-items="model.TotalCount" ng-model="filter.PageNumber" ng-change="GetList()" items-per-page="filter.ItemCountInPage" max-size="5" boundary-links="true" rotate="false" class="pagination-sm"></ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
        </div>
