﻿<style>
    .modal-lg {
            top: 90px !important;
    }
</style>

<div class="portlet box ">
    <div class="portlet-body">
        <div class="table-scrollable">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th ><i class="fa fa-sort-numeric-asc"></i></th>
                        <th> Name</th>
                      @*<th>Mother Name</th>*@
                      @*<th>Phone</th>*@
                        <th >Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="StudentList in StudentList">
                        <td>{{$index+1}}</td>
                        <td>{{StudentList.StudentName}}</td>
                      @*<td>{{StudentList.MotherName}}</td>*@
                      @*<td>{{StudentList.Phone1}}</td>*@
                        <td>
                            <a class="btn default" ng-class=" {'green': StudentList.Status == 1}" ng-click="Edit(StudentList,1)" title="Attend">       <i class="fa fa-check"></i>       </a>
                            <a class="btn default" ng-class=" {'red': StudentList.Status == 2}" ng-click="Edit(StudentList,2)" title="Absence">        <i class="fa fa-user-times"></i>  </a>
                            <a class="btn default" ng-class=" {'blue': StudentList.Status == 4}" ng-click="Edit(StudentList,4)" title="Permission">  <i class="fa fa-user"></i>        </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
