﻿<style>
    .modal-lg {
        width: 1200px;
        top: 20px;
    }
</style>
<script src="~/Scripts/html2canvas.js.js"></script>
<script src="~/Scripts/jspdf.debug.js.js"></script>


    <div class="portlet box blue-soft">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-list"></i>Student List
            </div>
            <div class="actions">
                <a class="btn  btn-sm red" ng-click="close()">
                    <i class="icon-power"></i>
                </a>
                <a ng-click="download()" id="editor" class="btn btn-default btn-sm">
                    <i class="fa fa-download"></i>Export
                </a>
                <a class="btn  btn-sm" style="color:white">
                    Total Number of Student(s):  {{model.AllCount}}
                </a>

            </div>
        </div>
        <div class="portlet-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="table-scrollable">
                        <table class="table table-striped table-bordered table-hover" id="testTable">
                            <thead style="background-color: #c5c5c5;">
                                <tr>
                                    <th>Series</th>
                                    <th>Full Name</th>
                                    <th>Phone No.1</th>
                                    <th>Phone No.2</th>
                                    <th>Mother Name</th>
                                    <th>Address</th>
                                    <th>Class & Room Name</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="Student in model.ItemList">
                                    <td>{{(filter.PageNumber-1)*filter.ItemCountInPage+$index+1}}</td>
                                    <td>{{Student.StudentName +'  '+ Student.Surname}}</td>
                                    <td>{{Student.Phone1}}</td>
                                    <td>{{Student.Phone2}}</td>
                                    <td>{{Student.MotherName}}</td>
                                    <td>{{Student.Address}}</td>
                                    <td>{{Student.ClassName +' - ' + Student.RoomName}}</td>
                                    <td>{{Student.Description}}</td>

                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
