﻿@section Scripts{
    <script src="~/Views/Student/Student.js"></script>
}
<div ng-controller="StudentCtrl">
    <div class="row">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-blue-soft">
                    <span class="caption-subject bold uppercase">Add / Edit Student</span>
                </div>
            </div>
            <div class="portlet-body form">
                <form role="form" ng-submit="Save()">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Student Name</label>
                                        <input type="text" ng-model="Student.StudentName" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Father Name</label>
                                        <input type="text" ng-model="Student.Surname" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Mother Name</label>
                                        <input type="text" ng-model="Student.MotherName" placeholder="" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group">
                                        <label>Class</label>
                                        <div class="form-group">
                                            <select ng-model="Student.ClassId" ng-selected="Student.ClassId==x.Id" ng-change="GetRoomByClassId(Student)" ng-options="x.Id as x.ClassName for x in modelClass.ItemList" class="form-control"><option value=""></option></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Room</label>
                                        <div class="form-group">
                                            <select ng-model="Student.ClassDetailId" ng-selected="Student.ClassDetailId==x.Id" ng-options="x.Id as x.RoomName for x in modelRoom" class="form-control"><option value=""></option></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Phone No.1</label>
                                        <input type="text" ng-model="Student.Phone1" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Phone No.2</label>
                                        <input type="text" ng-model="Student.Phone2" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Address</label>
                                        <textarea class="form-control" ng-model="Student.Address" rows="1"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Description</label>
                                        <textarea class="form-control" ng-model="Student.Description" rows="1" cols="1"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions right">
                        <button type="submit" class="btn green">Save</button>
                        <button type="button" class="btn default" ng-click="Cancel()">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box blue-soft">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>Student List
                </div>
                <div class="actions">
                    <a class="btn btn-default btn-sm" style="color:white">
                       Total Number of Student(s):  {{model.AllCount}}
                    </a>
                    <a ng-click="ExportStudentList(1)" class="btn btn-default btn-sm">
                        <i class="fa fa-file-excel-o"></i> Excel
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row ">
                    <div class="col-md-12">

                        <div class="col-md-4">
                            <div class="form-group">
                                <input class="form-control " type="text" placeholder="Search by Student..." ng-change="GetList()" ng-model="filter.SearchText" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input class="form-control " type="text" placeholder="Search by Class..." ng-change="GetList()" ng-model="filter.SearchText1" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input class="form-control " type="text" placeholder="Search by Room..." ng-change="GetList()" ng-model="filter.SearchText2" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-scrollable">
                    <table class="table table-striped table-bordered table-hover">
                        <thead style="background-color: #c5c5c5;">
                            <tr>
                                <th>Series</th>
                                <th>Full Name</th>
                                <th>Phone No.1</th>
                                <th>Phone No.2</th>
                                <th>Mother Name</th>
                                <th>Address</th>
                                <th>Class & Room Name</th>
                                <th>Description</th>
                                <th>Operations</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="Student in model.ItemList">
                                <td>{{(filter.PageNumber-1)*filter.ItemCountInPage+$index+1}}</td>
                                <td>{{Student.StudentName +'  '+ Student.Surname}}</td>
                                <td>{{Student.Phone1}}</td>
                                <td>{{Student.Phone2}}</td>
                                <td>{{Student.MotherName}}</td>
                                <td>{{Student.Address}}</td>
                                <td>{{Student.ClassName +' - ' + Student.RoomName}}</td>
                                <td>{{Student.Description}}</td>
                                <td>
                                    <a ng-click="Edit(Student)" class="btn btn-icon-only blue" title="Edit">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a confirm="Are You Sure ?" confirm-title="Delete" confirm-ok="Yes" confirm-cancel="No" ng-click="Remove(Student.Id)" class="btn btn-icon-only red" title="Delete">
                                        <i class="fa fa-remove"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <nav class="pull-right">
                            <ul uib-pagination total-items="model.TotalCount" ng-model="filter.PageNumber" ng-change="GetList()" items-per-page="filter.ItemCountInPage" max-size="5" boundary-links="true" rotate="false" class="pagination-sm"></ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>