﻿@section Scripts{
    <script src="~/Views/Monitoring/ManagerMonitoring.js"></script>
}
<div ng-controller="ManagerMonitoringCtrl">
    <div class="row">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box blue-soft">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>Student List
                </div>

            </div>
            <div class="portlet-body">
                <div class="row ">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Class</label>
                            <div class="input-group">
                                <select ng-model="Permission.PermissionType" class="form-control ng-pristine ng-valid ng-touched">
                                    <option value=""></option>
                                    <option ng-value="1" ng-selected="Permission.PermissionType==1" value="1">4</option>
                                </select>
                                <span class="input-group-btn">
                                    <button ng-click="filter.Company = 'undefined'" class="btn btn-default">
                                        <span class="icon-trash"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Group</label>
                            <div class="input-group">
                                <select ng-model="Permission.PermissionType" class="form-control ng-pristine ng-valid ng-touched">
                                    <option value=""></option>
                                    <option ng-value="1" ng-selected="Permission.PermissionType==1" value="1">A</option>
                                </select>
                                <span class="input-group-btn">
                                    <button ng-click="filter.Company = 'undefined'" class="btn btn-default">
                                        <span class="icon-trash"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>From Date</label>
                            <div class="input-group">
                                <input type="text" class="form-control " uib-datepicker-popup="dd.MM.yyyy" ng-model="filter.FromDate" is-open="pickers[0]" datepicker-options="dateOptions" ng-required="true" placeholder="{{todate | date:'dd.MM.yyyy'}} " close-text="Close" alt-input-formats="altInputFormats" />
                                <span class="input-group-btn">
                                    <button class="btn default date-reset" type="button" ng-click="clear(1)">
                                        <i class="fa fa-times"></i>
                                    </button>
                                    <button class="btn default" type="button" ng-click="open(0)">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label>To Date</label>
                        <div class="input-group">
                            <input type="text" class="form-control " uib-datepicker-popup="dd.MM.yyyy" ng-model="filterOutcomeOffice.ToDate" is-open="pickers[1]" datepicker-options="dateOptions" ng-required="true" placeholder="{{todate | date:'dd.MM.yyyy'}} " close-text="Close" alt-input-formats="altInputFormats" />
                            <span class="input-group-btn">
                                <button class="btn default date-reset" type="button" ng-click="clear(2)">
                                    <i class="fa fa-times"></i>
                                </button>
                                <button class="btn default" type="button" ng-click="open(1)">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="table-scrollable">
                    <table class="table table-striped table-bordered table-hover">
                        <thead style="background-color: #c5c5c5;">
                            <tr>
                                <th>Series</th>
                                <th>Class</th>
                                <th>Group</th>
                                <th>Student Name & Surname</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{index+1}}</td>
                                <td>4</td>
                                <td>A</td>
                                <td>talar </td>
                                <td>
                                    <button type="button" class="btn default" ng-click="Cancel()"><i class="fa fa-remove"></i>Absence</button>
                                    <button type="button" class="btn default" ng-click="Cancel()"><i class="fa fa-check"></i>Permission</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <nav class="pull-right">
                            <pagination total-items="model.TotalCount" ng-model="filter.PageNumber" ng-change="GetList()" items-per-page="filter.ItemCountInPage" max-size="5" class="pagination-sm" boundary-links="true" rotate="false"></pagination>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>