﻿@section Scripts{
    <script src="~/Views/Monitoring/TeacherMonitoring.js"></script>
}
<div ng-controller="TeacherMonitoringCtrl">
    <div class="row ">
        <div class="col-md-3">
            <div class="form-group">
                <label>Class</label>
                <div class="form-group">
                    <select ng-model="TeacherMonitoring.ClassId" ng-selected="TeacherMonitoring.ClassId==x.Id" ng-options="x.Id as x.ClassName for x in modelClass.ItemList" class="form-control"><option value=""></option></select>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Group Name</label>
                <div class="form-group">
                    <select ng-model="TeacherMonitoring.GroupId" ng-selected="TeacherMonitoring.ClassId==x.Id" ng-options="x.Id as x.GroupName for x in modelGroup.ItemList" class="form-control"><option value=""></option></select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box blue-soft">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>Student List
                </div>

            </div>
            <div class="portlet-body">
                <div class="table-scrollable">
                    <table class="table table-striped table-bordered table-hover">
                        <thead style="background-color: #c5c5c5;">
                            <tr>
                                <th>Series</th>
                                <th>Student Name & Surname</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{index+1}}</td>
                                <td>talar </td>
                                <td>
                                    <button type="button" class="btn default" ng-click=""><i class="fa fa-check"></i>Attended</button>
                                    <button type="button" class="btn default" ng-click=""><i class="fa fa-remove"></i>Absence</button>
                                    <button type="button" class="btn default" ng-click=""><i class="fa fa-check"></i>Permission</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <nav class="pull-right">
                            <pagination total-items="model.TotalCount" ng-model="filter.PageNumber" ng-change="GetList()" items-per-page="filter.ItemCountInPage" max-size="5" class="pagination-sm" boundary-links="true" rotate="false"></pagination>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>