﻿@section Scripts{
    <script src="~/Views/Teacher/TeacherAssignment.js"></script>
}
<div ng-controller="TeacherAssignmentCtrl">
    <div class="row">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-blue-soft">
                    <span class="caption-subject bold uppercase">Add / Edit Teacher</span>
                </div>
            </div>
            <div class="portlet-body form">
                <form role="form" ng-submit="Save()">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Teacher Name</label>
                                        <div class="form-group">
                                            <select ng-model="TeacherAssignment.UserId" ng-selected="TeacherAssignment.UserId==x.Id" ng-options="x.Id as x.Name for x in modelUser.ItemList" class="form-control"><option value=""></option></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Class</label>
                                        <div class="form-group">
                                            <select ng-model="TeacherAssignment.ClassId" ng-selected="TeacherAssignment.ClassId==x.Id" ng-options="x.Id as x.ClassName for x in modelClass.ItemList" class="form-control"><option value=""></option></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Group Name</label>
                                        <div class="form-group">
                                            <select ng-model="TeacherAssignment.GroupId" ng-selected="TeacherAssignment.GroupId==x.Id" ng-options="x.Id as x.GroupName for x in modelGroup.ItemList" class="form-control"><option value=""></option></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Lecture Name</label>
                                        <div class="form-group">
                                            <select ng-model="TeacherAssignment.LectureId" ng-selected="TeacherAssignment.LectureId==x.Id" ng-options="x.Id as x.LectureName for x in modelLecture.ItemList" class="form-control"><option value=""></option></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions right">
                        <button type="submit" class="btn green">Save</button>
                        <button type="button" class="btn default" ng-click="Cancel()">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box blue-soft">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>Teacher List
                </div>

            </div>
            <div class="portlet-body">
                <div class="table-scrollable">
                    <table class="table table-striped table-bordered table-hover">
                        <thead style="background-color: #c5c5c5;">
                            <tr>
                                <th>Series</th>
                                <th>Teacher Name</th>
                                <th>Class Name</th>
                                <th>Group Name</th>
                                <th>Lecture Name</th>
                                <th>Operations</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="TeacherAssignment in model.ItemList">
                                <td>{{index+1}}</td>
                                <td>{{TeacherAssignment.User.Name +' '+TeacherAssignment.User.Surname}}</td>
                                <td>{{TeacherAssignment.Class.ClassName}}</td>
                                <td>{{TeacherAssignment.Group.GroupName}}</td>
                                <td>{{TeacherAssignment.Lecture.LectureName}}</td>
                                <td>
                                    <a ng-click="Edit(TeacherAssignment)" class="btn btn-icon-only blue" title="Edit">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a confirm="Are You Sure ?" confirm-title="Delete" confirm-ok="Yes" confirm-cancel="No" ng-click="Remove(TeacherAssignment.Id)" class="btn btn-icon-only red" title="Delete">
                                        <i class="fa fa-remove"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <nav class="pull-right">
                            <pagination total-items="model.TotalCount" ng-model="filter.PageNumber" ng-change="GetList()" items-per-page="filter.ItemCountInPage" max-size="5" class="pagination-sm" boundary-links="true" rotate="false"></pagination>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>