﻿@section Scripts{
<script src="~/Views/GeneralSetting/Class.js"></script>
}
<div ng-controller="ClassSettingCtrl">
    <div class="row">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box blue-soft">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>Class List
                </div>
            </div>
            <div class="portlet-body">
                <form ng-submit="Save()">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Add / Edit Class Name </label>
                                <input type="text" placeholder="" ng-model="Class.ClassName" class="form-control" />
                            </div>
                        </div>
                        <br/>
                        <div class="col-md-4">
                            <div class="form-actions right">
                                <button type="button" class="btn default" ng-click="Cancel()">Cancel</button>
                                <button type="submit" class="btn green">Save</button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="table-scrollable">
                    <table class="table table-striped table-bordered table-hover">
                        <thead style="background-color: #c5c5c5;">
                            <tr>
                                <th>Series</th>
                                <th>Class Name</th>
                                <th>Operations</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="Class in model.ItemList">
                                <td>{{index+1}}</td>
                                <td>{{ClassSetting.Class}}</td>
                                <td>
                                    <a ng-click="Edit(Class)" class="btn btn-icon-only blue" title="Edit">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a ng-click="Remove(Class.Id)" class="btn btn-icon-only red" title="Delete">
                                        <i class="fa fa-remove"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <nav class="pull-right">
                            <pagination total-items="model.TotalCount" ng-model="filter.PageNumber" ng-change="GetList()" items-per-page="filter.ItemCountInPage" max-size="5" class="pagination-sm" boundary-links="true" rotate="false"></pagination>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>