﻿@section Scripts{
    <script src="~/Views/GeneralSetting/Group.js"></script>
}
<div ng-controller="GroupSettingCtrl">
    <div class="row">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box blue-soft">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>Group List
                </div>

            </div>
            <div class="portlet-body">
                <form ng-submit="Save()">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Group Name</label>
                                <input type="text" placeholder="" ng-model="Group.Group" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Class</label>
                                <div class="form-group">
                                    <select ng-model="Group.ClassId" ng-selected="Group.ClassId==x.Id" ng-options="x.Id as x.Class for x in modelClass.ItemList" class="form-control"><option value=""></option></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Teacher</label>
                                <div class="form-group">
                                    <select ng-model="Group.UserId" ng-selected="Group.UserId==x.Id" ng-options="x.Id as x.Name for x in modelTeacherAssignment.ItemList" class="form-control"><option value=""></option></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Lecture</label>
                                <div class="form-group">
                                    <select ng-model="Group.LectureId" ng-selected="Group.LectureId==x.Id" ng-options="x.Id as x.Lecture for x in modelLecture.ItemList" class="form-control"><option value=""></option></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-actions right">
                                <br />
                                <button type="button" class="btn default" ng-click="Cancel()">Cancel</button>
                                <button type="submit" class="btn green">Save</button>
                            </div>
                        </div>
                    </div>
                </form>
                    <div class="table-scrollable">
                        <table class="table table-striped table-bordered table-hover">
                            <thead style="background-color: #c5c5c5;">
                                <tr>
                                    <th>Series</th>
                                    <th>Class Name</th>
                                    <th>Group Name</th>
                                    <th>Operations</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="Group in model.ItemList">
                                    <td>{{index+1}}</td>
                                    <td>{{Group.Class.Class}}</td>
                                    <td>{{Group.Group}}</td>
                                    <td>
                                        <a ng-click="Edit(Group)" class="btn btn-icon-only blue" title="Edit">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <a confirm="Are You Sure ?" confirm-title="Delete" confirm-ok="Yes" confirm-cancel="No" ng-click="Remove(Group.Id)" class="btn btn-icon-only red" title="Delete">
                                            <i class="fa fa-remove"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <nav class="pull-right">
                                <pagination total-items="model.TotalCount" ng-model="filter.PageNumber" ng-change="GetList()" items-per-page="filter.ItemCountInPage" max-size="5" class="pagination-sm" boundary-links="true" rotate="false"></pagination>
                            </nav>
                        </div>
                    </div>
</div>
        </div>
    </div>
</div>