﻿@section Scripts{
    <script src="~/Views/User/UserListPage.js"></script>
}

<div ng-controller="UserListPageCtrl">
    <div class="row">
        <div class="portlet light bordered">   
            <div class="portlet-title">
                <div class="caption font-blue-soft">
                    <i class="icon-user font-blue-soft"></i>
                    <span class="caption-subject bold uppercase">Add / Edit User</span>
                </div>
            </div>
            <div class="portlet-body form">
                <form role="form" ng-submit="Save()">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Name</label>
                                        <input type="text" class="form-control" required ng-model="User.Name" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label"> Surname</label>
                                        <input type="text" class="form-control" required ng-model="User.Surname" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Email</label>
                                        <input type="text" class="form-control" required ng-model="User.Email" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">Role</label>
                                        <select ng-model="User.Role" class="form-control">
                                            <option></option>
                                            <option ng-value="1" ng-selected="User.Role==1">Teacher</option>
                                            <option ng-value="2" ng-selected="User.Role==2">Manager</option>
                                            <option ng-value="32" ng-selected="User.Role==32">Admin</option>

                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">Password</label>
                                        <input type="password" class="form-control" required ng-model="User.Password" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions right">
                        <button type="submit" class="btn green">Save</button>
                        <button type="button" class="btn default" ng-click="clean()">Cancle</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>User List
                </div>

            </div>
            <div class="portlet-body">
                <div class="table-scrollable">
                    <table class="table table-striped table-bordered table-hover">
                        <thead style="background-color: #c5c5c5;">
                            <tr>
                                <th>Series</th>
                                <th>Name & Surname</th>
                                <th>Email</th>
                                <th>Role</th>
                                <th>Operations</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="User in model.ItemList">
                                <td>{{index+1}}</td>
                                <td>{{User.Name +' '+ User.Surname}}</td>
                                <td>{{User.Email}}</td>
                                <td>
                                    <span ng-if="User.Role==32">Admin</span>
                                    <span ng-if="User.Role==2">Manager</span>
                                    <span ng-if="User.Role==1">Teacher</span>
                                </td>
                                <td>
                                    <a ng-click="Edit(User)" class="btn btn-icon-only blue">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a ng-click="Remove(User.Id)" class="btn btn-icon-only red">
                                        <i class="fa fa-remove"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <nav class="pull-right">
                            <ul uib-pagination total-items="model.TotalCount" ng-model="filter.PageNumber" ng-change="GetList()" items-per-page="filter.ItemCountInPage" max-size="5" boundary-links="true" rotate="false" class="pagination-sm"></ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
