﻿@section Scripts{
    <script src="~/Views/Class/Class.js"></script>
}
<div ng-controller="ClassCtrl">
    <div class="row">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box blue-soft">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>ADD / EDIT / LIST
                </div>
            </div>
            <div class="portlet-body">
                <form ng-submit="Save()">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label"> Class Name </label>
                                    <input type="text" placeholder="" ng-model="Class.ClassName" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label"> Description </label>
                                    <input type="text" placeholder="" ng-model="Class.Description" class="form-control" />
                                </div>
                            </div>
                        </div>

                            <div class="col-md-6">
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Room Name</label>
                                            <div class="form-group">
                                                <input ng-model="ClassDetail.RoomName" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Description</label>
                                            <div class="form-group">
                                                <input ng-model="ClassDetail.Description" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label></label>
                                        <div class="form-actions right">
                                            <button type="button" class="btn blue btn-block" ng-click="AddRoom(ClassDetail)">Add</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <table class="table table-striped table-bordered table-hover">
                                        <thead style="background-color: #c5c5c5;">
                                            <tr>
                                                <th>Series</th>
                                                <th>Room Name</th>
                                                <th>Description</th>
                                                <th>Operations</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="obj in ClassDetailList">
                                                <td>{{$index+1}}</td>
                                                <td>{{obj.RoomName}}</td>
                                                <td>{{obj.Description}}</td>
                                                <td>
                                                    <a ng-click="Delete($index)" class="btn btn-icon-only red" title="Delete">
                                                        <i class="fa fa-remove"> </i>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    <div class="form-actions right">
                        <button type="button" class="btn default" ng-click="Cancel()">Cancel</button>
                        <button type="submit" class="btn green">Save</button>
                    </div>
                </form>
                <div class="table-scrollable">
                    <table class="table table-striped table-bordered table-hover">
                        <thead style="background-color: #c5c5c5;">
                            <tr>
                                <th></th>
                                <th>Series</th>
                                <th>Class Name</th>
                                <th>Description</th>
                                <th>Operations</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="Class in model.ItemList">
                            <tr>
                                <td><a class="btn btn-xs btn-icon btn-circle" ng-class="{'btn-danger':Class.isOpen,'btn-success':!Class.isOpen ,'disabled': Class.IsClass == false}" ng-click="MoreDetail(Class.Id);Class.isOpen=!Class.isOpen;"> <i class="fa " ng-class="{'fa-minus':Class.isOpen,'fa-plus':!Class.isOpen}"></i></a></td>
                                <td>{{$index+1}}</td>
                                <td>{{Class.ClassName}}</td>
                                <td>{{Class.Description}}</td>
                                <td>
                                    <a ng-click="Edit(Class)" class="btn btn-icon-only blue" title="Edit">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a ng-click="Remove(Class.Id)" class="btn btn-icon-only red" title="Delete">
                                        <i class="fa fa-remove"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr ng-if="Class.isOpen">
                                <td colspan="5">
                                    <table class="table table-striped table-bordered table-hover dt-responsive">
                                        <thead style="background-color: #c5c5c5;">
                                            <tr>
                                                <th>Room Name</th>
                                                <th>Description</th>

                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr ng-repeat="ClassDetail in Class.ClassDetail">
                                                <td>{{ClassDetail.RoomName}}</td>
                                                <td>{{ClassDetail.Description}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <nav class="pull-right">
                            <ul uib-pagination total-items="model.TotalCount" ng-model="filter.PageNumber" ng-change="GetList()" items-per-page="filter.ItemCountInPage" max-size="5" boundary-links="true" rotate="false" class="pagination-sm"></ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>