﻿ip <!-- BEGIN LOGO -->
<div class="logo">
    <a href="/">
        @*<img src="../assets/pages/img/logo-big.png" alt="" />*@
    </a>
</div>
<!-- END LOGO -->
<!-- BEGIN LOGIN -->
<div class="content">
    <!-- BEGIN ACTUAL CONTENT -->
    <div ui-view class="fade-in-up"> </div>
    <!-- END ACTUAL CONTENT -->
</div>
<div class="copyright"> 2016 © <a href="http://www.nwegar.com">NwegarSAZ Company LTD. 0772 136 1313</a></div>

