﻿<!-- BEGIN LOGIN FORM -->
<form class="login-form" ng-submit="Login()" method="post">
    <h3 class="form-title font-green">Login</h3>
    <div class="alert alert-danger" ng-if="message">
        <button class="close" data-close="alert"></button>
        <span ng-bind="message">  </span>
    </div>
    <div class="form-group">
        <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
        <label class="control-label visible-ie8 visible-ie9">Username</label>
        <input class="form-control form-control-solid placeholder-no-fix" type="text" ng-model="User.Email" autocomplete="off" placeholder="Username" name="username" />
    </div>
    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9"> Password</label>
        <input class="form-control form-control-solid placeholder-no-fix" type="password" ng-model="User.Pass" autocomplete="off" placeholder="Password" name="password" />
    </div>
    <div class="form-actions">
        <button type="submit" class="btn green uppercase">Login</button>
    </div>
</form>
<!-- END LOGIN FORM -->

