﻿@section Scripts{
    <script src="~/Views/Group/Group.js"></script>
}


<div ng-controller="GroupCtrl">
    <div class="row">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box blue-soft">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>Group List
                </div>
            </div>
            <div class="portlet-body">
                <form ng-submit="Save()">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Group Name</label>
                                    <input type="text" placeholder="" ng-model="Group.GroupName" class="form-control" required />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Teacher</label>
                                    <div class="form-group">
                                        <select ng-model="Group.UserId" ng-selected="Group.UserId==x.Id" ng-options="x.Id as x.Name for x in modelTeacher.ItemList" class="form-control" required><option value=""></option></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Description</label>
                                    <textarea type="text" ng-model="Group.Description" class="form-control" />
                                </div>
                            </div>

                        </div>
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">Start Date</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control " uib-datepicker-popup="dd.MM.yyyy" ng-model="Group.StartDateTime" is-open="pickers[1]" datepicker-options="dateOptions" placeholder="{{Group.StartDateTime | date:'dd.MM.yyyy'}} " close-text="Close" alt-input-formats="altInputFormats" />
                                        <span class="input-group-btn">
                                            <button class="btn default" type="button" ng-click="open(1)">
                                                <i class="fa fa-calendar"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group">
                                    <label class="control-label">Hour</label>
                                    <select style="font-size: 10px;" ng-model="Group.StartHour" ng-selected="Group.StartHour" ng-options="x as x for x in StartHour" class="form-control" required><option value=""></option></select>

                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group">
                                    <label class="control-label">Minute</label>
                                    <select style="font-size: 10px;" ng-model="Group.StartMinute" ng-selected="Group.StartMinute" ng-options="x as x for x in StartMin" class="form-control" required><option value=""></option></select>

                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">End Date</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control " uib-datepicker-popup="dd.MM.yyyy" ng-model="Group.EndDateTime" is-open="pickers[2]" datepicker-options="dateOptions" placeholder="{{Group.EndDateTime | date:'dd.MM.yyyy'}} " close-text="Close" alt-input-formats="altInputFormats" />
                                        <span class="input-group-btn">
                                            <button class="btn default" type="button" ng-click="open(2)">
                                                <i class="fa fa-calendar"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group">
                                    <label class="control-label">Hour</label>
                                    <select style="font-size: 10px;" ng-model="Group.EndHour" ng-selected="Group.EndHour" ng-options="x as x for x in StartHour" class="form-control" required><option value=""></option></select>

                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group">
                                    <label class="control-label">Minute</label>
                                    <select ng-model="Group.EndMinute" ng-selected="Group.EndMinute" ng-options="x as x for x in StartMin" class="form-control" required><option value=""></option></select>

                                </div>
                            </div>

                        </div>
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Class Name</label>
                                    <div class="form-group">
                                        <select ng-model="GroupDetail.Class" ng-selected="GroupDetail.ClassId==x.Id" ng-change="GetRoomAndLecutreByClassId(GroupDetail)" ng-options="x as x.ClassName for x in modelClass.ItemList" class="form-control"><option value=""></option></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Lecture</label>
                                    <div class="form-group">
                                        <select ng-model="Group.LectureId" ng-selected="Group.LectureId==x.Id" ng-options="x.Id as x.LectureName for x in modelLecture" class="form-control"><option value=""></option></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Room Name</label>
                                    <div class="form-group">
                                        <select ng-model="GroupDetail.ClassDetail" ng-selected="GroupDetail.ClassDetailId==x.Id" ng-change="GetStudent(GroupDetail)" ng-options="x as x.RoomName for x in modelRoom" class="form-control"><option value=""></option></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Student Name</label>
                                    <div class="form-group">
                                        <select ng-model="GroupDetail.StudentDetail" ng-selected="GroupDetail.StudentId==x.Id" ng-options="x as x.StudentName for x in modelStudent" class="form-control"><option value=""></option></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label></label>
                                <div class="form-actions right">
                                    <button type="button" class="btn blue btn-block" ng-click="AddStudent(GroupDetail)">Add</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div>
                                <table class="table table-striped table-bordered table-hover">
                                    <thead style="background-color: #c5c5c5;">
                                        <tr>
                                            <th>Series</th>
                                            <th>Class Name</th>
                                            <th>Room Name</th>
                                            <th>Student Name</th>
                                            <th>Operations</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="obj in GroupDetailList">
                                            <td>{{$index+1}}</td>
                                            <td>{{obj.ClassName}}</td>
                                            <td>{{obj.RoomName}}</td>
                                            <td>{{obj.StudentName+' ' + obj.Surname}}</td>
                                            <td>
                                                <a ng-click="Delete($index)" class="btn btn-icon-only red" title="Delete">
                                                    <i class="fa fa-remove">

                                                    </i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-actions right">
                                <br />
                                <button type="submit" class="btn green">Save</button>
                                <button type="button" class="btn default" ng-click="Cancel()">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box blue-soft">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>Group List
                </div>
            </div>
            <div class="portlet-body">
                <div class="row ">
                    <div class="col-md-12">

                        <div class="col-md-4">
                            <div class="form-group">
                                <input class="form-control " type="text" placeholder="Search by Group Name..." ng-change="GetList()" ng-model="filter.SearchText" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input class="form-control " type="text" placeholder="Search by Class..." ng-change="GetList()" ng-model="filter.SearchText1" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input class="form-control " type="text" placeholder="Search by Teacher..." ng-change="GetList()" ng-model="filter.SearchText2" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-scrollable">
                    <table class="table table-striped table-bordered table-hover">
                        <thead style="background-color: #c5c5c5;">
                            <tr>
                                <th></th>
                                <th>Series</th>
                                <th>Group Name</th>
                                <th>Teacher Name</th>
                                <th>Lecture</th>
                                <th>Start Datetime</th>
                                <th>End Datetime</th>
                                <th>Description</th>
                                <th>Operations</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="Group in model.ItemList">
                            <tr>
                                <td><a class="btn btn-xs btn-icon btn-circle" ng-class="{'btn-danger':Group.isOpen,'btn-success':!Group.isOpen ,'disabled': Group.IsGroup == false}" ng-click="MoreDetail(Group.Id);Group.isOpen=!Group.isOpen;"> <i class="fa " ng-class="{'fa-minus':Group.isOpen,'fa-plus':!Group.isOpen}"></i></a></td>
                                <td>{{$index+1}}</td>
                                <td>{{Group.GroupName}}</td>
                                <td>{{Group.Name}}</td>
                                <td>{{Group.LectureName}}</td>
                                <td>{{Group.StartDateTime | date:'dd.MM.yyyy'}}{{' ' + Group.StartHour + ' : '+Group.StartMinute }}</td>
                                <td>{{Group.EndDateTime| date:'dd.MM.yyyy'}}{{' ' + Group.EndHour + ' : '+Group.EndMinute }}</td>
                                <td>{{Group.Description}}</td>
                                <td>
                                    <a ng-click="Edit(Group)" class="btn btn-icon-only blue" title="Edit">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a ng-click="Remove(Group.Id)" class="btn btn-icon-only red" title="Delete">
                                        <i class="fa fa-remove"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr ng-if="Group.isOpen">
                                <td colspan="10">
                                    <table class="table table-striped table-bordered table-hover dt-responsive">
                                        <thead style="background-color: #c5c5c5;">
                                            <tr>
                                                <th>Student Name</th>
                                                <th>Class Name</th>
                                                <th>Room Name</th>

                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr ng-repeat="GroupDetail in Group.GroupDetail">
                                                <td>{{GroupDetail.StudentName+' ' + GroupDetail.Surname}}</td>
                                                <td>{{GroupDetail.ClassName}}</td>
                                                <td>{{GroupDetail.RoomName}}</td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <nav class="pull-right">
                            <ul uib-pagination total-items="model.TotalCount" ng-model="filter.PageNumber" ng-change="GetList()" items-per-page="filter.ItemCountInPage" max-size="5" boundary-links="true" rotate="false" class="pagination-sm"></ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
